*.in
*.gch
*.lo
*.la
*.o
*.log
*.status
*.swp
*.trs
*.*~
Makefile
aclocal.m4
autom4te.cache/
client.plist
config.h
config/
configure
libtool
m4/
server.plist
src/.deps/
src/.server.c.swo
src/.wit-assert.h.swo
src/Makefile
stamp-h1
test/.deps/
test/Makefile
